.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scalex(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }
  @include desktop {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scalex(0);
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-color);
  }
}

.modal-close-icon {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.textarea-label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-text {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.26;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 12px 42px;
  font-weight: 400;
  font-size: 12px;
  color: #212121;

  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid #2196f3;
  }
}

.modal-imput-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid #2196f3;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;

  .checkbox-input:checked + & {
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url(../images/icons/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.checkbox-text {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;

  @media screen and (max-width: 1199px) {
    margin-left: 8px;
    font-size: 12px;
    line-height: 1.16;
  }
  @include desktop {
    margin-left: 7px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-checkbox {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.checkbox-link {
  color: #2196f3;
  text-decoration-line: underline;
}

.modal-submit-btn {
  display: block;
  padding: 10px;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--second-title-color);
  background-color: #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
